html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #fff;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.app{
    width: 100%;
    height: 100%;
    background-color: #050814;
    color: #fff;
}

.bg-earth{
    width: 100%;
    height: 100%;
    background-color: #000A1A;
    background-image: url(../assets/imgs/bg-earth.png);
    background-position: center;
    background-size: cover;
}

.bg{
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page{
    width: 100%;
    height: 100%;
}

.page-header {
    width: 100%;
    height: 110px;
    /*background-image: url(../assets/imgs/header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    text-align: center;
    color: #fff;
    position: relative;
  }

  .header-name {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-weight: bold;
    color: #91C7E9;
    font-family:  PingFangSC-Semibold;
  }

.wrap{
    height: 100%;
    position: relative;
}


.footer-content {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/footer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  

.module{
    margin: 28px auto;
}

.module-card{
    margin-top: 25px;
    width: 50%;
    float: left;
}

.module-card1{
    margin-top: 20px;
    width: 100%;
    float: left;
}


.block-opacity{
    opacity: 0.1;
}

@font-face{
    font-family: PARaDOS;
    src: url(../assets/fonts/PARaDOS.ttf);
}


@font-face{
    font-family: PingFangSC-Semibold;
    src: url(../assets/fonts/PINGFANG-REGULAR.ttf);
}

@font-face{
    font-family:DIN;
    src: url(../assets/fonts/DIN.ttf);
}

.display-block{
    display: block!important;
}
